.btn {
    cursor: pointer;
    &:hover {
        background-color: #5FB4A2;
        background-image: url("../images/btn-h-img.png");
        background-repeat: no-repeat;
        background-position: left;
        transition: 0.8s;
    }
    &:active {
        opacity: 0.2;
    }
    background-image: url("../images/btn-icon.png");
    background-repeat: no-repeat;
    background-position: left;
    padding: 17px 0 17px 0;
    border: none;
    width: 200px;
    background-color: #203A4C;
    &__text {
        margin: 0;
        padding-left: 48px;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}
